@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root {
  /* Primary Colors*/
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
  --Darkest-Gray: hsl(0, 0%, 20%);
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--Darkest-Gray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--Very-Dark-Gray);
  border-radius: 15em;
}

ul,
ol {
  list-style: none;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-family: 'Alata', sans-serif;
  color: var(--Very-Dark-Gray);
}

.lock-body {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: 'Josefin Sans';
}

.header {
  width: 100%;
  height: 100vh;
  padding: 50px 30px;
  background-image: url("../../images/mobile/image-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.header-content {
  height: inherit;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.title-container {
  width: 100%;
  height: 100%;
  max-width: 340px;
  display: grid;
  place-items: center;
}

.title {
  padding: 20px 30px;
  border: 2px solid var(--White);
  text-transform: uppercase;
  letter-spacing: 2px;
  word-wrap: break-word;
  font-size: 2.2em;
  font-weight: 300;
  color: var(--White);
}

.dropdown-menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  padding: 50px 30px;
  background-color: var(--Black);

  transform: translateY(-100%);
  transition: transform 0.5s;
}

.show-menu {
  transform: translateY(0%);
}

.icon-container {
  display: flex;
  justify-content: space-between;
}

.desktop-menu {
  display: none;
}

.drop-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.menu-link {
  color: var(--White);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Josefin Sans';
  font-size: 1.6em;
}

.menu-link:hover {
  text-decoration: underline;
}

.container {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.text-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.subtitle {
  color: var(--Black);
  font-family: 'Josefin Sans';
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 300;
}

.description {
  max-width: 90%;
  margin: 0 auto;
  color: var(--Dark-Gray);
}

.card-container {
  display: grid;
  gap: 20px;
}

.card-picture {
  position: relative;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.card-title {
  width: 120px;
  text-align: left;
  color: var(--White);
  text-transform: uppercase;
  font-weight: 400;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.btn {
  width: max-content;
  padding: 10px 40px;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: transparent;
  font-family: 'Alata', sans-serif;
  font-weight: 600;
  border-color: var(--Black);
  border-width: 1px 2px;
}

.footer {
  width: 100%;
  padding: 50px 20px;
  margin-top: auto;
  background-color: var(--Black);
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--White);
  text-transform: capitalize;
}

.icon-menu-link {
  color: var(--White);
  text-decoration: none;
}

.icon-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 752px) {
  body {
    font-size: 22px;
  }

  .header {
    height: 70vh;
    background-image: url(../../images/desktop/image-hero.jpg);
  }

  .header-content {
    max-width: 80%;
  }

  .title-container {
    max-width: 55%;
  }

  .title {

    font-size: 3em;
  }

  .logo {
    width: 200px;
  }

  .open-close-btn {
    display: none;
  }

  .desktop-menu {
    display: flex;
    gap: 20px;
  }

  .menu-link {
    text-transform: capitalize;
    font-size: 1em;
    font-weight: 700;
  }

  .main {
    padding: 50px 0;
  }

  .container {
    max-width: 80%;
    margin: 0 auto;
  }

  .experiences {
    position: relative;
  }

  .experiences img {
    width: 70%;
  }

  .text-content {
    width: 50%;
    padding: 60px 0 0 60px;
    text-align: left;
    background-color: var(--White);

    position: absolute;
    bottom: 49px;
    right: 0;
  }

  .description {
    margin: 0;
    font-size: 0.8em;
  }

  .creations {
    text-align: left;
    position: relative;
  }

  .creations .btn {
    position: absolute;
    top: 25;
    right: 30px;
  }

  .card-container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-content {
    max-width: 80%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-container .logo {
    width: 150px;
  }

  .footer-menu {
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
  }

  .icon-menu {
    justify-content: right;
  }
}

@media (max-width: 990px) {
  .experiences img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 40px;
  }

  .text-content {
    position: relative;
    padding: 20px 0;
    width: 100%;
    text-wrap: balance;
    text-align: center;
  }
}